* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    padding: 15px;
    min-width: 425px;
}

footer {
    background-color: #26272b;
    width: 100%;
    height: 100%;
}

.content {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px auto 20px;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

.sec-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 4px solid #263238;
}

.sec-1 h1 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.leftContent {
    order: 1;
    width: 45%;
}

.leftContent h1 {
    color: white;
    margin: 20px;
}

.leftContent p {
    color: lightgray;
    font-size: 22px;
    margin: 20px;
    text-align: justify;
}

.rightContent {
    order: 2;
    width: 53%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.rightContent h1 {
    margin: 15px auto;
}

#right1,
#right2 {
    color: white;
    padding: 12px;
    width: 30%;
    float: left;
    font-size: 20px;
    text-align: center;
}

#right3 {
    font-size: 18px;
    color: white;
    padding: 12px;
    width: 30%;
    float: left;
    text-align: center;
}

#right3 i {
    margin-right: 4px;
}

#right1 a,
#right2 a {
    display: block;
    text-decoration: none;
    color: lightgray;
    font-size: 20px;
    margin: 20px auto;
}

#right3 a {
    display: block;
    text-decoration: none;
    color: lightgray;
    font-size: 18px;
    margin: 20px auto;
}

#right1 a:hover {
    color: yellow;
    transition: .3s;
}

#right2 a:hover {
    color: orange;
    transition: .3s;
}

#right3 a:hover {
    color: plum;
    transition: .3s;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 4px solid #263238;
    width: 100%;
    padding: 25px;
}

.register h1 {
    color: lightgray;
    text-align: center;
    font-weight: lighter;
    font-size: 26px;
}

.register a {
    text-decoration: none;
    color: white;
    width: 180px;
    background-color: red;
    border-radius: 80px;
    display: inline-block;
    margin-left: 20px;
    font-size: 22px;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    box-shadow: #212121 2px 2px 1px 1px;
}

.register a:hover {
    background-color: blue;
    color: yellow;
    font-weight: bold;
    transition: .3s;
}

.icons {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;
    border-bottom: 4px solid #263238;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px;
}

.icons a {
    display: block;
    background-color: #9e9e9e;
    margin: 10px;
    text-align: center;
    color: grey;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.icons a i {
    font-size: 30px;
    line-height: 60px;
}

.icons li:hover:nth-child(1) a {
    background-color: #3b5999;
    color: white;
    box-shadow: #212121 2px 2px 5px 5px;
    transition: .3s;
}

.icons li:hover:nth-child(2) a {
    background-color: #55acee;
    color: white;
    box-shadow: #212121 2px 2px 5px 5px;
    transition: .3s;
}

.icons li:hover:nth-child(3) a {
    background-color: #dd4b39;
    color: white;
    box-shadow: #212121 2px 2px 5px 5px;
    transition: .3s;
}

.icons li:hover:nth-child(4) a {
    background-color: #0077B5;
    color: white;
    box-shadow: #212121 2px 2px 5px 5px;
    transition: .3s;
}

.icons li:hover:nth-child(5) a {
    background-color: #ea4c89;
    color: white;
    box-shadow: #212121 2px 2px 5px 5px;
    transition: .3s;
}

.sec-4 {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.sec-4 i {
    margin-right: 8px;
}

.sec-4 p {
    position: relative;
}

.sec-4 p::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    width: 0px;
    height: 4px;
    background-color: grey;
    transition: all .3s;
}

.sec-4 p:hover::after {
    width: 100%;
}


/* Breakpoint-1 : Below 999 px */

@media (max-width:999px) {
    .sec-1 {
        flex-direction: column;
    }
    .leftContent {
        width: 100%;
        padding: 10px;
    }
    .leftContent h1 {
        text-align: center;
    }
    .rightContent {
        width: 100%;
    }
    .rightContent h1 {
        font-size: ;
    }
}


/* Breakpoint-2 : Below 630 px */

@media(max-width:630px) {
    .leftContent {
        width: 100%;
    }
    .rightContent {
        width: 100%;
    }
    .register {
        display: block;
    }
    .register h1 {
        margin-top: 30px;
    }
    .register a {
        display: block;
        margin: 25px auto 0px;
    }
    .icons {
        height: 200px;
    }
}


/* Breakpoint-3 : Below 490 px */

@media(max-width:490px) {
    /* .content {
        font-size: 12px;
    }*/
    .leftContent {
        width: 100%;
    }
    .rightContent {
        width: 100%;
    }
    #right1,
    #right2,
    #right3 {
        width: 100%;
    }
    .register a {
        display: block;
    }
}